body{
    background-color:pink;
}
    

 .najuuh{
     
     border:5px;
    
 }
 .naj{
     background-color: blue;
     color: white;
     border: 2px;
 }
 a{
     color:white;
     float:left;
     font-size:15px;

 }
 a:hover{
     background-color:gray;
     color:blue;
 }
 a.active{
     background-color: rgb(34, 19, 19)
 }
img{
    float:left;
}